html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.headers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(115, 157, 231);
    color:rgb(245, 232, 232);
    width:400px;
    height:45px;
    display:flex;
}

.headers#top {
width:400px;
height:75px;
border: 2px solid rgb(253, 181, 79);
padding: 20px 20px;
display:flex;
}

p,
li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color:rgb(253, 181, 79);
}

 #top{
    font-size:32px;
    font-weight:bolder;
    color: rgb(253, 181, 79);
     }

.options {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(115, 157, 231);
    border: 2px solid blue;
    height: 75px;
    width: auto;

    flex-direction: row;
    display:flex;
  }

.options div {
    border: 2px solid black;
    flex: auto;
    text-align: center;
   
}